html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Begin Font Styles */
body {
	font-family: 'Bitter', serif;
}
/* End Font Styles */

/* Begin Background Image Expressions */
.introduction {
	background-position: center bottom;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-size: cover;
  height: 45.0rem;
  overflow: auto;
  margin-bottom: 10px;
}

.introduction {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/4c/Bananas.jpg');
  background-color: tan;
  background-blend-mode: screen;
}
/* End Background Image Expressions */


/* Begin Headline Text Expressions */
.introduction h1,
.introduction h3 {
  color: black;
  text-align: center;
  font-weight: 550;
}

.introduction h1 {
  margin: 5.0rem 0 1.0rem 0;
  font-size: 4.0rem;
}

.introduction h3 {
  margin-top: 1.60rem;
  font-size: 1.50rem;
}
/* End Headline Text Expressions */


/* Overall Oval Shape of Searchbox */
#searchbox {
  background-color: #eaf8fc;
  background-image: linear-gradient(#fff, #d4e8ec);
  border-radius: 35px;    
  border-width: 1px;
  border-style: solid;
  border-color: #c4d9df;            
  width: 480px;
  height: 55px;
  padding: 10px;
  margin: 30px auto 30px;
  overflow: hidden; 
}

/* Text Entry Field Shape and Instructional Text */
#NewItemTextbox {
  padding: 5px 9px;
  height: 32px;
  width: 350px;
  border: 1px solid #a4c3ca;
  font: normal .90rem 'trebuchet MS', arial, helvetica;
  background: #f1f1f1;
  border-radius: 50px 3px 3px 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);            
}

/* Add Button */
#AddButton {       
  background-color: ##9dceff;
  background-image: linear-gradient(#9dceff);
  border-radius: 3px 50px 50px 3px;    
  border-width: 1px;
  border-style: solid;
  border-color: #0080ff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 
              0 1px 0 rgba(255, 255, 255, 0.3) inset;
  height: 35px;
  margin: 0 0 0 5px;
  padding: 0;
  width: 90px;
  cursor: pointer;
  font: bold .90rem Arial, Helvetica;
  color: black;  
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

/* Begin List Expressions */
ul#list {
  margin-top: 15px;
  margin-left: 250px;
}

/* The Red Delete button*/
#list a {
  float: right;
  text-decoration: none;
  color: red;
  font-size: .90rem;
  font-family: sans-serif;
  font-weight: bold;
  padding-right: 8px;
  padding-top: 8px;
}

/* The Checkbox*/
#list input[type="checkbox"] {
  margin: 3px 10px 3px 2px;
}

/* The Rectangle the New Item Populates Within*/
#list li {
  line-height: 2px;
  border: 1px solid #838994;
  background-color: #f1f1f1;
  margin: 2px 0 2px 48px;
  width: 340px;
  height: 32px;
}

/* The New List Item's Text*/
li.ui-state-default {
  padding-left: 10px;
  padding-top: 7px;
  font-color: #838994;
  list-style-type: none;
}

/* The Strikethrough on a deleted list item*/
.completed {
  text-decoration: line-through;
}   
/* End List Expressions */



/* Begin Footer Expressions */
.social .copy {
  font-size: 1.0rem;
  font-weight: 300;
  color: #838994;
}
/* End Footer Expressions */
